<div>
    <h2> {{ vm.title }}</h2>
    <br />
    <div class="row">

        <button ng-hide="vm.blogs.length > 0" class="btn btn-info" ng-click="vm.loadBlogs()">Load blogs</button>

        <div ng-show="vm.blogs.length > 0">
            <input name="sortInput" type="text"  class="form-control" ng-model="findByName" placeholder="Type in to find a particular blog" />
            <br />
            <p ng-show="vm.blogs.length != filteredArray.length">Matches: {{ filteredArray.length }}</p>

            <button class="btn btn-primary"  ng-click="vm.sort()">{{ vm.sortUnsort}}</button>

            <h2 class="text-center">Blogs</h2>
            <div ng-repeat="blog in filteredArray = (vm.blogs | filter: { blogName: findByName}) | orderBy: vm.mySort">
                <div ng-click="vm.goToBlogWithId(blog.blogId, blog.blogsOwnerUserName)" class="blogsListElement">
                    <div class="blogsListElementContent">
                        <h3>{{ blog.blogName }}</h3>
                        <p> Posts number: {{blog.postsQty}}</p>
                        <p class="userLink" ng-click="vm.goToAuthorWithId(blog.blogsOwnerId, $event)">
                            Author: {{ blog.blogsOwnerUserName}}
                        </p>
                    </div>
                    <br />
                </div>
            </div>            
        </div>

        <div ng-hide="vm.requestError.length ==  0">
            <h4 class="text-danger">Error occrured while loading data</h4>
            <ol>
                <li ng-repeat="error in vm.requestError">
                    <p> {{ error }}</p>
                </li>
            </ol>
        </div>

    </div>
</div>
