<form class="form-login" role="form">
    <!--<h2 class="form-login-heading">Sign up</h2>-->

    <input type="text" class="form-control" placeholder="Username" data-ng-model="suCtrl.registration.userName" required autofocus>
    <input type="password" class="form-control" placeholder="Password" data-ng-model="suCtrl.registration.password" required>
    <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="suCtrl.registration.confirmPassword" required>
    <br />
    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="suCtrl.signUp(suCtrl.registration)">Submit</button>
    <div data-ng-hide="message == ''" data-ng-class="(suCtrl.savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{ suCtrl.message}}
    </div>
</form>