.blogsListElement:hover {
    cursor: pointer;
    background-color: #f7fffe;
}

.blogsListElement {
    border: 1px solid #dcd0d0;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #f7f7f7;
}

.blogsListElementContent {
    padding-left: 30px;
}

.userLink {
    color: #295acf;
}

.userLink:hover {
    text-decoration: underline;
}

.commentSection {
    padding-left: 20px;
}


#addCommentButton {
    padding: 0 0 15px 25px;
}

#removeCommentButton {
    float: right !important;
    margin-right: 25px;
    color: black;
}

#removeCommentButton:hover {
    cursor: pointer;
    color: #808080;
}

.main {
    margin-bottom: 60px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f7f7f7;
    padding: 1rem;
    text-align: center;
}
