<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="container">
    <div class="jumbotron text-center">
        <h1>Server is started.</h1>
        <div>
            <a href="http://localhost:53166/" class="btn btn-default btn-lg">Go to Blog application</a>
        </div>
    </div>
</body>
</html>

