<div ng-controller="blogController as vm">

    <h2> {{ vm.title }}</h2>
    <br />
    <div class="row">
        <div>
            <input name="sortInput" type="text" ng-show="vm.blogs.length > 0" class="form-control" ng-model="findByName" placeholder="Type in to find a particular blog" />
            <br />
            <p ng-show="vm.blogs.length != filteredArray.length">Matches: {{ filteredArray.length }}</p>

            <button class="btn btn-primary" ng-show="vm.blogs.length > 0" ng-click="vm.sort()">{{ vm.sortUnsort}}</button>
            <button class="btn btn-info" ng-click="vm.loadBlogs()">Load blogs</button>
        </div>

        <h2 class="text-center">Blogs</h2>
        <div ng-repeat="blog in filteredArray = (vm.blogs | filter: { blogName: findByName}) | orderBy: vm.mySort">
            <div ng-click="vm.goToBlogWithId(blog.blogId, blog.blogsOwnerUserName)" class="blogsListElement">
                <div class ="blogsListElementContent">
                    <h3>Blog: {{ blog.blogName }}</h3>
                    <p> Posts number: {{blog.postsQty}}</p>
                    <div class="userLink" ng-click="vm.goToAuthorWithId(blog.blogsOwnerId, $event)">
                        Author: {{ blog.blogsOwnerUserName}}
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div ng-hide="vm.requestError.length ==  0">
            <h4 class="text-danger">Errors while loading</h4>
            <ol>
                <li ng-repeat="error in vm.requestError">
                    <p> {{ error }}</p>
                </li>
            </ol>
        </div>

    </div>
</div>
