<div ng-controller="postController as vm">
    <div class="post">
        <p>Date: {{ vm.post.dateCreated | date : small }}</p>
        <p>&emsp; {{ vm.post.text}}</p>
        <hr />comments:<hr />

        <div class="commentSection" ng-repeat="comment in vm.post.comments">
            <h5>{{comment.userName}}. {{ comment.dateCreated | date : small}}</h5>
            <p>"{{ comment.text }}"</p>
            <hr />
        </div>
    </div>

    <form name="commentForm" class="newCommentSection row" style="background-color:#eeeeee;" novalidate>
        <div class="form-group">
            <textarea placeholder="Type in your comment" name="text" cols="25" rows="4"
                      ng-model="vm.newComment.text" class="form-control" required></textarea>
        </div>
        <div id="addCommentButton" >
            <button class="btn btn-success" ng-disabled="commentForm.$invalid" ng-click="vm.saveComment(vm.newComment)">Comment</button>
        </div>
    </form>

    <div ng-hide="vm.errors.length ==  0">
        <h4 class="text-danger">Errors while loading</h4>
        <ol>
            <li ng-repeat="error in vm.errors">
                <p> {{ error }}</p>
            </li>
        </ol>
    </div>
</div>